body{
  background: #000;
  background-size: cover;
  font-family: arial, sans-serif;
}

#player{
  font-family: 'Poiret One', cursive;
  color: #ffffff;
  border: 2px solid #222;
  padding:20px;
  box-shadow: 0 0 60px rgba(0,0,0,0.8);
  background: #222;

  border-radius: 10px; 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 

text-align:center;
}
#playpause{
  border:1px solid #eee;
  cursor:pointer;
  padding:12px 0;
  color:#eee;
  font-size:18px;
  border-radius:3px;
  font-family: arial;
}
#playpause:hover{
  border-color: #ccc;
}
#volume, #progressbar{
  border:none; 
  height:2px;
}
#volume{
  background:hsla(180,75%,50%,1);
}

.ui-slider-handle{
  border-radius:50%;
  width: 10px;
  height:10px;
  display: inline-block;
  top: -7px !important;
  margin-left:-5px !important;
  background-color: blue!important;
}
.metadata{margin-bottom:15px;}
h2{ margin: 0px 0px 10px 0px; padding: 0px;}

a.ui-slider-handle{ background-color: blue!important;}

.seat .seat-btn{
  margin:20px 0px 40px 0px;
  background: rgba(255,105,30,1);
  text-align: center;
  border-radius: 4px;
  border: 1px solid #333;
  padding:5px 0px;
}

.seat h2{ font-family: arial, sans-serif;}

#chatwindow{background-color:#fff; height: 400px; overflow:scroll;position: fixed; bottom: 0; width: 100%; }
.form{ font-family: arial; color: #000;}
.form input { border: 0; padding: 0px; width: 90%; margin:0; border: 1px solid #666; padding: 4px; line-height: 16px; font-size: 18px; color: #000; }
.form button { width: 9%; }
#messages {  list-style-type: none; margin: 0; padding: 0; color: #000; font-family: arial; }
#messages li { padding: 5px 10px; border-bottom: 1px solid #ccc; }
#messages li:nth-child(odd) { background: #eee; }